body{
    background-image: url('/images/exp_bacground.jpeg');
    background-size: cover;
}

#animation_div{
    width : 400px;
    height: 100px;
    /* background-color: #1057A7; */
    /* background-color: #E63946; */
    background: rgb(160,23,11);
    background: linear-gradient(90deg, rgba(160,23,11,1) 0%, rgba(241,171,32,1) 50%, rgba(8,86,153,1) 83%);
    position: relative;
    top:230px;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes move {
    from{left: 0px}
    to{left:900px}
}

h1{
    position: relative;
    top: 30px;
    text-align: center;
    color: black;
}